#body {
    background: black !important;
}

#pick_text {
    margin-left: 530px;
    color: white;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font: arial;
}

#rock {
    
    margin-left: 80px;
    max-width: 20%;
    height: auto;
    background-color: white;
    cursor:pointer;
}


#paper {
    max-width: 20%;
    height: auto;
    margin-left: 200px;
    margin-right: -100px;
    background-color: white;
    cursor:pointer;
}

#scissors {
    max-width: 20%;
    height: auto;
    margin-left: 300px;
    background-color: white;
    cursor:pointer;
}

#scores {
    margin-left: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font: arial;
}

#choices {
    
}
